@use "./font.scss";
section.section-about {
	background: #f8f8f8;
	border-radius: 50px 50px 0 0;
	padding: clamp(20px, 3vw, 60px);
	div.about-content {
		height: 100%;
		width: 100%;
		position: relative;
		display: flex;
		justify-content: space-between;
		gap: clamp(20px, 3vw, 60px);
		div.about-image-left-top-section {
			height: 100%;
			width: 45%;
			position: sticky;
			top: 100px;
			h2 {
				font-size: clamp(2rem, 3vw, 3rem);
				font-family: "Urbanist", sans-serif;
				color: #333333;
			}
		}
		div.about-content-right-bottom-section {
			height: 100%;
			width: 55%;
			p {
				font-size: clamp(1.25rem, 2vw, 2rem);
				font-family: "Urbanist", sans-serif;
				color: #666666;
				line-height: 1.6;
			}
		}
	}
}

@media (max-width: 425px) {
    section.section-about {
        div.about-content {
            flex-direction: column;
            div.about-image-left-top-section,
            div.about-content-right-bottom-section {
                width: 100%;
                position: static;
                h2{
                    text-align: center;
                }
            }
            div.about-image-left-top-section {
                margin-bottom: clamp(20px, 3vw, 60px);
            }
        }
    }
}
