@use "./button.scss";
@use "./font";
main {
	height: 100%;
	position: relative;
	width: 100%;
	background: #000;
	header {
		position: sticky;
		top: 0;
		width: 100%;
		padding: 10px clamp(20px, 3vw, 60px);
		background: #00000012;
		backdrop-filter: blur(4px);
		z-index: 2;
		transition: all 0.3s ease-in-out;
		// display: none;
		nav {
			display: grid;
			grid-template-columns: auto 5fr auto;
			place-items: center;
			align-items: center;
			grid-template-areas: "logo navlinks cta";
			// padding: 10px 40px;
			div {
				grid-area: "logo";
				display: flex;
				align-items: center;
				gap: 0px;
				svg {
					height: clamp(40px, 5vw, 100px);
				}
				h1 {
					color: #fff;
					font-size: clamp(1.25rem, 2vw, 3rem);
					font-family: "BW-Gradual-Med", sans-serif;
				}
			}
			ul {
				grid-area: "navlinks";
				width: clamp(40%, 70%, 75%);
				backdrop-filter: blur(10px);
				list-style: none;
				display: flex;
				justify-content: space-around;
				border: 2px solid #37ff14ad;
				padding: 10px 20px;
				border-radius: 50px;
				font-family: "Urbanist", sans-serif;
				li {
					color: #fff;
					font-size: clamp(1rem, 1.25vw, 2rem);
					cursor: pointer;
					&:hover {
						color: #37ff14;
					}
				}
				@media (max-width: 768px) {
					border: none;

					width: clamp(40%, 55%, 60%);
				}
				@media (max-width: 540px) {
					display: none;
				}
			}
			button.cta-nav-btn {
				grid-area: "cta";
				@include button.button(#37ff14e6, #000);
				font-size: clamp(1rem, 1.25vw, 2rem);
				border-radius: 50px;
				@media (max-width: 768px) {
					display: none;
				}
			}

			/* Mobile Menu Toggle Button */
			svg.mobile-menu-toggle {
				height: 30px;
				width: 30px;
				grid-area: "toggle";
				display: none; /* Hidden by default */
				background: transparent;
				border: none;
				cursor: pointer;
				color: #fff; /* So the SVG inherits the color */
				z-index: 10; /* Above nav links */
				@media (max-width: 540px) {
					/* Show mobile menu toggle */
					display: inline-flex;
					align-items: center;
					justify-content: center;
				}
			}
			@media (max-width: 768px) {
				display: flex;
				justify-content: space-between;
			}
		}
		ul {
			display: none;
			list-style-type: none;
			li {
				color: #fff;
				font-size: clamp(1rem, 1.25vw, 2rem);
				cursor: pointer;
				&:hover {
					color: #37ff14;
				}
			}
			@media (max-width: 540px) {
				/* Show mobile menu when active */
				display: none;
				margin-top: 10px;
				font-family: "Urbanist", sans-serif;
				flex-direction: column;
				align-items: center;
				top: 70px;
				right: 20px;
				border: 2px solid #37ff14ad;
				border-radius: 10px;
				padding: 20px;
				gap: 15px;
				transition: all 0.3s ease-in-out;
			}
		}
		ul.active {
			display: flex;
		}
	}
	section.section-hero {
		position: relative;
		width: 100%;
		height: calc(100vh - clamp(40px, 5vw, 100px) - 10px); // full screen height
		overflow: hidden;
		.background-video {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			object-fit: cover; // ensures full coverage
			transform: translate(-50%, -50%);
			z-index: 0;
			filter: brightness(0.5); // optional dim effect
		}

		.video-overlay {
			position: relative;
			height: 100%;
			width: 100%;
			color: #fff;
			background: #000000;
			background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: clamp(15px, 2vw, 30px);
			text-align: center;
			h1 {
				font-size: clamp(2.65rem, 5.5vw, 7rem);
				width: clamp(70%, 80%, 80%);
				letter-spacing: 2px;
				font-family: "BW-Gradual", sans-serif;
				text-transform: capitalize;
				span {
					font-family: "BW-Gradual-Bold-Italic", sans-serif;
					-webkit-text-stroke: clamp(1px, 0.25vw, 2px) #37ff14;
					color: transparent;
				}
			}

			p {
				width: clamp(50%, 55%, 60%);
				text-align: center;
				font-size: clamp(1.25rem, 2vw, 3rem);
				line-height: 1.35;
				font-family: "Urbanist", sans-serif;
			}

			button.cta-hero-btn {
				@include button.button(#37ff14e6, #000);
				font-size: clamp(1rem, 1.25vw, 2rem);
				border-radius: 10px;
			}
		}
	}
}
