@use "./font";

.section-comparision {
    padding: clamp(20px, 5vw, 60px);
    width: 100%;
    height: 100%;
    div.comparision-heading-section{
        width: 100%;
        h4 {
            font-family: "BW-Gradual-Bold", sans-serif;
            font-size: clamp(2rem, 5.5vw, 6rem);
            -webkit-text-stroke: 1px #31ff41;
            color: transparent;
        }
        p{
            font-family: "Urbanist", sans-serif;
            font-size: clamp(1.25rem, 2vw, 2.5rem);
            color: #666666;
            line-height: 1.6;
        }
    }
    div.comparision-timeline-section {
        // margin-top: clamp(20px, 5vw, 60px);
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        gap: clamp(20px, 3vw, 40px);
        div.comparision-content-video {
            position: sticky;
            top: 0px;
            width: 40%;
            height: 100%;
            video {
                width: 100%;
                height: 100%;
                border-radius: 12px;
                object-fit: cover;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 12px;
                background: radial-gradient(circle, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 1) 100%);
            }
        }
        div.comparision-timeline-content{
            width: 60%;
            height: 100%;
        }
    }
}
@media (max-width: 768px) {
    .section-comparision {
        padding: clamp(15px, 5vw, 30px);
        div.comparision-heading-section{
            h4 {
                font-size: clamp(1.5rem, 7vw, 4rem);
            }
            p{
                font-size: clamp(1rem, 3vw, 1.5rem);
            }
        }
        div.comparision-timeline-section {
            flex-direction: column;
            div.comparision-content-video {
                display: none;
                video{
                    display: none;
                }
            }
            div.comparision-timeline-content{
                width: 100%;
            }
        }
    }
}